.ssh/

# .config exclusions - XDG_CONFIG_HOME
.config/nvim/backup/
.config/nvim/plugged/
.config/zsh/.zcompdump
.config/zsh/.zprezto
.config/zsh/.zsh_history

# .local exclusions - XDG_DATA_HOME
.local/share/gnupg/

.cache/
